
@{
    ViewBag.Title = "RolePage";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ensure correct path to the CSS file -->
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <header>
        <nav>

            <a href="#" class="contact">Contact Us</a>|
            <a href="#" class="about">About</a>
        </nav>
    </header>

    <!-- Your main content goes here -->
    <main>
        <!-- Centered button container -->
        <div class="centered-container">
            <a href="/Home/Login"><button>Login</button></a>
            <a href="/Home/Create"><button>Get Started</button></a>

        </div>
    </main>

    <!-- Footer content goes here -->
    <footer class="footer">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-6">
                    <h2><b style="color:#000000">Set your own rate</b></h2>
                    <p>Empower yourself with flexible tutoring opportunities on your terms. Set your own hourly rate and adjust it whenever you desire.</p>
                </div>
                <div class="col-md-6">
                    <h2><b style="color:#000000">Tutor anytime, anywhere</b></h2>
                    <p>Tutor whenever and wherever you prefer, with no minimum time commitments or fixed schedules. Whether you choose to be a client seeking guidance or a tutor offering expertise, seize control of your learning journey. Be your own boss and embrace the freedom to learn and teach at your convenience.</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>

