  .rating {
            display: inline-block;
            unicode-bidi: bidi-override;
            direction: rtl;
            margin-top: 5px;
        }

            .rating > input {
                display: none;
            }

            .rating > label {
                position: relative;
                width: 1.2em; /* changed width to make stars smaller */
                font-size: 1.5em; /* changed font-size to make stars smaller */
                color: #ffc107; /* changed color to active star color */
                cursor: pointer;
            }

                .rating > label:before {
                    content: "\2605";
                    position: absolute;
                    opacity: 1; /* changed opacity to make all stars visible */
                    transition: opacity 0.2s linear;
                }

        /* Style adjustments */
        .avatar-container {
            position: relative;
        }

            .avatar-container .avatar {
                margin-bottom: 10px;
            }

        .eye-icon-container {
            position: relative;
        }

        #eye-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 1;
            color: #888; /* Changed eye icon color */
        }

        .password-input {
            position: relative;
        }

            .password-input input {
                padding-right: 40px; /* Adjusted padding for eye icon */
            }

        .edit-section {
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }

            .edit-section .btn-group button {
                margin-right: 10px;
            }

        /* Adjusted style for Featured Plants Section */
        .featured-plants .card {
            margin-bottom: 20px;
        }

            .featured-plants .card img {
                height: 200px;
                object-fit: cover; /* Ensure the image covers the entire box */
            }

            .featured-plants .card .rating {
                margin-top: 10px;
                text-align: center;
            }

                .featured-plants .card .rating > label {
                    color: #ffd700; /* Changed color to yellow */
                }

        /* Additional styling for eye icon */
        .eye-icon-container {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

            .eye-icon-container .input-group-text {
                cursor: pointer;
            }
   